$lightGrenn : #b9e7e7;
$imgBack : #b9e7e7;
:root {
    --rotate-speed: 40;
    --count: 10;
    --easing: cubic-bezier(0.000, 0.37, 1.000, 0.63);
}

.app{
    user-select: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    img{
        user-select: none;
    }
    width: 100%;
    display: flex;
    justify-content: center;
    .container{
        @media (max-width: 800px) {
            // background-color: aquamarine;
            width: 100%;
            
          }
        .link{
            text-decoration: none;
            color: inherit;          
        }
        //Login&&register
    .auth{
        display:flex;
        width: 100vw;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 100vh;
        background-color: $lightGrenn;
        h1{
            font-size: 50px;
            color: teal;
            margin-bottom: 20px;
        }
        form{
            width: 300px;
            height: 400px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            span{
                font-size: 15px;
                color: black;
                text-align: center;
            }
            p{
                font-size: 10px;
                color: red;
                text-align: center;
            }
        }
        input{
            width: 250px;
            height: 30px;
            border-radius: 5px;
            border: none;
            border-bottom: 1px solid #ccc;
            padding: 5px;
            outline: none;
        }
        .buttons{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button{
            width: 180px;
            height: 40px;
            border-radius: 5px;
            margin-top: 10px;
            border: none;
            padding: 5px;
            outline: none;
            cursor: pointer;
            background-color: teal;
            color: white;
        }
    }
   
    .input-text{
        align-self: flex-start;
    }

    //navbar
    .navbar{
        position: relative;
        z-index: 10;
        .container{
            @media (max-width: 800px) {
                margin-top: 20px;
            }
            .mobileAvater{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 30px;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .link{
                    font-weight: 320;
                    white-space: nowrap;
                }
                @media (min-width: 800px) {
                    display: none;
                }
            }
           .mobileNav{
            @media (min-width: 800px) {
                display: none;
            }
           }
            @media (max-width: 800px) {
         
                width: 100%;
                
              }
            padding: 10px,0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                img{
                    width: 50px;
                    height: 50px;
                }
                @media (max-width: 800px) {
                    margin-left: 10px;
                }
            }
            .links{
                @media (max-width: 800px) {
                   width: 100%;
                   gap: 0px;
                   display: none;
                }
                display: flex;
                align-items: center;
                gap: 10px;
                h6{
                    font-size: 16px;
                    font-weight: 300;
                }
                span{
                    cursor: pointer;
                }
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .link{
                    font-weight: 320;
                    white-space: nowrap;
                    transform-style: preserve-3d;
                }
                transform-style: preserve-3d;
                
        //write
            }
        }
        .avaterMenu{
            height: 400px;
            width: 200px;
            position: absolute;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            border: 1px solid #ccc;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);  
            .avaterMenubox{
                height: 100%;
                width: 100%;
                padding: 10px;
                box-sizing:border-box;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    //footer
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        .footer{
        padding: 20px;
        margin-top: 5px;
        background-color: $lightGrenn;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 50px;
            height: 50px;
        }
        span{
            font-weight: 300;
        }
        }
        .mask{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: #8f8f8f;
            }
            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
                
            }
        }
    }
    //Home
    .home{
        
        .posts{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 150px; 
            @media (max-width: 800px) {
                width: 100%;
                gap: 80px;
            }
            .post{
                display: flex;
                gap:80px;
                position: relative;
                @media (max-width: 800px) {
                    flex-direction: column;
                    padding: 20px;
                    gap: 50px;
                }
                &:nth-child(2n+1){
                    
                    flex-direction: row-reverse;
                    @media (max-width: 800px) {
                        flex-direction: column;
                    }
                    .img{
                        
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            background-color: $imgBack;
                            top: 20px;
                            left: 20px;
                            @media (max-width: 800px) {
                                top: -5%;
                                left: -5%;
                                width: 110%;
                                height: 110%;
                            }
                        }
                      
                    }
                }
                &:nth-child(2n){
                    .img{
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: $imgBack;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                            @media (max-width: 800px) {
                                top: -5%;
                                left: -5%;
                                width: 110%;
                                height: 110%;
                            }
                        }
                    }
                  
                }
                .img{
                    flex: 2;
                    position: relative;
                    img{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        // max-height: 400px;
                        object-fit: cover;         
                    }
                }
                .content{
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 48px;
                    }
                    p{
                        font-size: 18px;
                    }
                    button{
                        width: max-content;
                        border-radius: 5px;
                        border: none;
                        padding: 10px 20px;
                        border:1px solid teal;
                        outline: none;
                        cursor: pointer;
                        background-color: white;
                        color: teal;
                        font-weight: 300;
                        &:hover{
                            border: 1px solid white;
                            background-color: $lightGrenn;
                            color: black;
                        }
                    }
                }
            }
        }
    }
    //single
    .single{
        display: flex;
        gap: 50px;
        @media (max-width: 800px) {
            flex-direction: column;
           
        }
        .content{
            flex:5;
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media (max-width: 800px) {
                padding: 20px;
                box-sizing:border-box;
                gap: 10px;
            }
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span{
                    font-weight: bold;
                }
                p{
                    margin: 0px;
                }
            }
            .edit{
                display: flex;
                gap: 10px;
                img{
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
            h1{
                font-size: 42px;
                color: #333;
            }
            p{
                text-align: justify;
                line-height: 30px;
            }
        }
        .menu{
            flex: 2;
            h1{
                text-align: center;
            }
            .post{
               
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                h2{
                    color: #333;
                    margin: 0;
                    @media (max-width: 800px) {
                        text-align: center;
                    }
                }
                button{
                    width: max-content;
                    border-radius: 5px;
                    border: none;
                    padding: 7.5px 15px;
                    border:1px solid teal;
                    outline: none;
                    cursor: pointer;
                    background-color: white;
                    color: teal;
                    font-weight: 300;
                    @media (max-width: 800px) {
                        margin: 0 auto;
                    }
                    &:hover{
                        border: 1px solid white;
                        background-color: $lightGrenn;
                        color: black;
                    }
                }
            }
        }
    }
    //write
    .add{
        margin-top: 20px;
        display: flex;
        gap: 20px;
        @media (max-width: 800px) {
            flex-direction: column;
            padding: 20px;
            box-sizing:border-box;
            gap: 70px;
        }
        .content{
            flex:5;
            display: flex;
            gap: 20px;
            flex-direction: column;
            input{
                padding: 10px;
                border: 1px solid lightgrey;
            }
            .editorContainer{
                height: 500px;
                @media (max-width: 800px) {
                    height: 400px;
                }
            }
        }
        .menu{
            flex:2;
            display:flex;
            flex-direction: column;
            gap: 20px;
            .item{
                border: 1px solid lightgrey;
                padding: 10px;
                flex: 1;
                display: flex;
                flex-direction: column;
               
                justify-content: space-between;
                font-size: 12px;
                color: #555;
                @media (max-width: 800px) {
                    gap: 15px;
                }
                h1{
                    font-size: 20px;
                    margin: 0px;
                }
                .buttons{
                    display: flex;
                    justify-content: space-between;
                    :first-child{
                    width: max-content;
                    border-radius: 5px;
                    border: none;
                    padding: 3px 5px;
                    border:1px solid teal;
                    outline: none;
                    cursor: pointer;
                    background-color: white;
                    color: teal;
                    font-weight: 300;
                    }
                    :last-child{
                        width: 80px;
                        border-radius: 5px;
                        border: none;
                        padding: 3px 5px;
                        border:1px solid teal;
                        outline: none;
                        cursor: pointer;
                        background-color: teal;
                        color: white;
                        font-weight: 300;
                    }
                }
                .cat{
                    display: flex;
             
                    align-items: center;
                }
            }
        }
    }
    //个人页面
    .personal{
        display: flex;
        flex-direction: column;
        width: 1024px;
        gap:10px;
        padding: 30px;
        justify-content: center;
        align-items: center;
        box-sizing:border-box;
        .personalName{
            font-size: 30px;
            font-weight: 200 ;
        }
        .personalLog{
            font-weight: 100 ;
            font-style: italic; /* 斜体 */
            opacity: 0.5;      /* 透明度，取值范围为 0（完全透明）到 1（完全不透明） */
            width: 80%;
        }
        .posts{
            margin-top: 10px;
            display: flex;
            width: 90%;
            flex-direction: column;
            gap: 100px; 
            @media (max-width: 800px) {
                width: 100%;
                gap: 80px;
            }
            .post{
                display: flex;
                gap:80px;
                position: relative;
                @media (max-width: 800px) {
                    flex-direction: column;
                    padding: 20px;
                    gap: 50px;
                }
                &:nth-child(2n+1){
                    
                    flex-direction: row-reverse;
                    @media (max-width: 800px) {
                        flex-direction: column;
                    }
                    .img{
                        
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            background-color: $imgBack;
                            top: 20px;
                            left: 20px;
                            @media (max-width: 800px) {
                                top: -5%;
                                left: -5%;
                                width: 110%;
                                height: 110%;
                            }
                        }
                      
                    }
                }
                &:nth-child(2n){
                    .img{
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: $imgBack;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                            @media (max-width: 800px) {
                                top: -5%;
                                left: -5%;
                                width: 110%;
                                height: 110%;
                            }
                        }
                    }
                  
                }
                .img{
                    flex: 2;
                    position: relative;
                    img{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        // max-height: 400px;
                        object-fit: cover;         
                    }
                }
                .content{
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 18px;
                    }
                    button{
                        width: max-content;
                        border-radius: 5px;
                        border: none;
                        padding: 10px 20px;
                        border:1px solid teal;
                        outline: none;
                        cursor: pointer;
                        background-color: white;
                        color: teal;
                        font-weight: 300;
                        &:hover{
                            border: 1px solid white;
                            background-color: $lightGrenn;
                            color: black;
                        }
                    }
                }
            }
        }
        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }
        .lec3d{
            position: relative;
            width: 100vw;
            // left:-250px;
           height: 500px;
        }
    }
    .c_write{
        position: relative;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        .textfield{
            width: 100%;
        }
        .button{
            position: absolute;
            right: 0;
            height: 54px;
            width: 100px;
            font-size: 15px;
        }
    }
    .allCommten{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        .commten{
            width: 100%;
            margin: 10px;
            padding: 10px;
            opacity: 0;
            background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
            background-color: #fff;
            margin: 70px 0;
            border-radius: 10px;
            box-shadow: 0 10px 20px #00000026;
            text-shadow: 0px 0px 20px #ffffff;
            
        }
        // .commten{
           
        //     min-height: 100px;
        //     display: flex;
        //     padding:15px 20px;
        //     flex-direction: column;
        //     box-sizing:border-box;
        //     justify-content: space-between;
        //     border-bottom: 1px solid rgb(192, 192, 192);
        //     background-color: rgb(255, 255, 255);
        //     .commenter{
        //         display: flex;
        //         align-items: center;
              
        //         justify-content: space-between;
        //         padding-right: 20px;
        //         .info{
        //             display: flex;
        //             flex-direction: row;
        //             align-items: center;
        //             gap: 15px;
        //             img{
        //                 width: 30px;
        //                 height: 30px;
        //                 object-fit: cover;
        //                 border-radius: 50%;
        //             }
        //         }
        //     }
        // }
    }

    .friendly{
        margin-top: 50px;
        width: 1024px;
        height: 680px;
        display: flex;
        justify-content: center;
        gap: 20px;
        @media (max-width: 800px) {
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 50px;
        }
        .item{
            height: 280px;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            background-color: #ffffff;
            border: 2px solid #ccc;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);  
            @media (max-width: 800px) {
                width: 90%;
            }
            .photo{
                width: 350px;
                height: 200px;
                @media (max-width: 800px) {
                    width: 100%;
                }
                .img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px 10px 0px 0px;
                    pointer-events:none
                }
                .iframe{
                    display: none;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px 10px 0px 0px;
                    pointer-events:none
                }
            }
            .title{
                font-size: 20px;
                font-weight: 600;
            }
            .text{
                font-weight: 300;
            }
        }
    }
    .timeContarin{
        width: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         @media (max-width: 800px) {
            width: 100%; 
            height: 100%;
        }
    .timeBody{
        @media (max-width: 800px) {
            width: 170%;
            position: relative;
            right: 50%;
        }
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
       
        .timesBox{
            width: 100%;
            max-width: 1024px;
            margin: auto;
            position: relative;
            aspect-ratio: 1 / 1;
            
            .times{
                -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
                .second-circle {
                    position: absolute;
                    width: 40%;
                    aspect-ratio: 1 / 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: #F5F4FE;
                    opacity: 0.5;
                    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
                        0px 30px 60px -12px rgba(12, 5, 46, 0.25);
                    border-radius: 50%;
                    background-image: url(./03.gif);
                }
        
                /* 设置最后一个圆样式 */
                .last-circle {
                    position: absolute;
                    width: 66%;
                    aspect-ratio: 1 / 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background: #F5F4FE;
                    opacity: 0.25;
                    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
                    border-radius: 50%;
                    background-image: url(./03.gif);
                }
               
                ul.pause-animation {
                    li{                                
                        animation-play-state: paused;
                        .card{
                            animation-play-state: paused;
                        }
                    }
                    animation-play-state: paused;
                  }
                  
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    z-index: 1;
                }
                .card-list{
                    /* 设置列表项样式 */
                    li {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background: transparent;
                        width: 100%;
                        animation: rotateCW calc(var(--rotate-speed) * 1s)  infinite linear;
                    }
                    li:nth-child(2),
                    li:nth-child(2) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
                    }
            
                    li:nth-child(3),
                    li:nth-child(3) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
                    }
            
                    li:nth-child(4),
                    li:nth-child(4) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
                    }
            
                    li:nth-child(5),
                    li:nth-child(5) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
                    }
            
                    li:nth-child(6),
                    li:nth-child(6) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
                    }
                    li:nth-child(7),
                    li:nth-child(7) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -6s);
                    }
                    li:nth-child(8),
                    li:nth-child(8) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -7s);
                    }
                    li:nth-child(9),
                    li:nth-child(9) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -8s);
                    }
                    li:nth-child(10),
                    li:nth-child(10) .card {
                        animation-delay: calc((var(--rotate-speed)/var(--count)) * -9s);
                    }
            
                    .card {
                        @keyframes rotateCW {
                            from {
                                transform: translate3d(0px, -50%, -1px) rotate(0deg);
                            }
                
                            to {
                                transform: translate3d(0px, -50%, 0px) rotate(-360deg);
                            }
                        }
                
                        /* 定义逆时针旋转动画 */
                        @keyframes rotateCCW {
                            from {
                                transform: rotate(0deg);
                            }
                
                            to {
                                transform: rotate(360deg);
                            }
                        }
                        @media (max-width: 800px) {
                            width: 30%;
                            padding: 8px 12px;
                        }
                        width: 27%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 16px 24px;
                        gap: 8px;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 12px rgba(70, 0, 255, 0.1), 0px 16px 32px rgba(165, 135, 255, 0.1);
                        border-radius: 12px;
                        font: 400 14px '';
                        color: #535062;
                        animation: rotateCCW calc(var(--rotate-speed) * 1s)  infinite linear;
                        img{
                            width: 100%;
                        }
                        a {
                            text-decoration: none;
                            color: unset;
                            display: block;
                            height: 80px;
                            overflow: hidden;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .timeTitle{
                                text-align: center;
                                font-size: 20px;
                                font-weight: bold;
                            }
                            .timeContent{
                                font-weight: 300;
                            }
                        }
                    }
                }
                
            }
           
            .center-circle {
                @media (max-width: 800px) {
                    width: 100px;
                }
                position: absolute;
                width: 230px;
                aspect-ratio: 1 / 1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: #FFFFFF;
                box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
                    0px 30px 60px -12px rgba(12, 5, 46, 0.25);
                border-radius: 50%;
                background-size: cover;
                background-position: -35px 0;
            }
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                background-position: 100% 50%;
                background-repeat: no-repeat;
                background-image: radial-gradient(100% 50% at 100% 50%, rgba(60, 26, 229, 0.25) 0%,
                 rgba(59, 26, 229, 0.241896) 20%,
                        rgba(53, 26, 229, 0.1872) 40%,
                        rgba(41, 23, 240, 0.104) 60%,
                        rgba(34, 26, 229, 0.0184296) 90%, rgba(32, 26, 229, 0) 100%);
            }
            .mask:after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                right: 0;
                display: block;
                background-image: linear-gradient(180deg, rgba(60, 26, 229, 0) 0%,#3C1AE5 50%,
                 rgba(60, 26, 229, 0) 100%); 
            }
            
        }
    }
    .timeButon{
        button{
            width: 180px;
            height: 40px;
            border-radius: 5px;
            margin-top: 10px;
            border: none;
            padding: 5px;
            outline: none;
            cursor: pointer;
            background-color: teal;
            color: white;
        }
    }
    .popup{
        @media (max-width: 800px) {
            width: 90%; 
            box-sizing: border-box;
            padding: 20px;
        }
        position: fixed;
        width: 700px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 99;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        form > div{
            width: 250px;
        }
        form{
            width: 300px;
            height: 500px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
           
            span{
                font-size: 15px;
                color: black;
                text-align: center;
            }
            p{
                font-size: 10px;
                color: red;
                text-align: center;
            }
        }
        // input{
        //     width: 250px;
        //     height: 30px;
        //     border-radius: 5px;
        //     border: none;
        //     border-bottom: 1px solid #ccc;
        //     padding: 5px;
        //     outline: none;
        // }
        .buttons{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            #canle{
                background-color: rgba(131, 24, 24, 0.571);
            }
            button{
            width: 40%;
            height: 40px;
            border-radius: 5px;
            margin-top: 10px;
            border: none;
            padding: 5px;
            outline: none;
            cursor: pointer;
            background-color: rgb(0, 169, 152);
            color: white;
        }

        }
        
    }
}


}   
    
}
.content{
    width: 1024px;
    @media (max-width: 800px) {
        width: 100%;
    }
}
.Write{
    height: 40px;
    width: 70px;
    background-color: $lightGrenn;
    border-radius: 10%;
    text-align: center;
    line-height: 40px;
    font-weight: 300;
    &:hover{
        background-color: teal;
        color: white;
    }
}


